:root{
  --font-family: 'Cherry Bomb One', sans serif;
  --bg-color:;
  --primary-clr: #30A2FF;
  --second-clr:#00C4FF;
  --third-clr:#FFE7A0;
  --fourth-clr:#FFF5B8;
}

body {
  background: var(--fourth-clr);
  color: var();
  font-family: var(--font-family);
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.top{

  
}

h1{
  font-size: 4rem;
  padding-bottom: 1.5rem;
}

h2, .message{
 margin-top: 20px ;
 font-size: 2.5rem;
  
}

.message{
  background: var(--second-clr);
  padding: 1.5rem;
  border-radius: 3rem;
}
